@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.navBar{
    top: 0;
    background-color:#2B7141;
    padding-top: 0;
    margin: 0;
    align-items: center;
    padding: 0;
    width: 100%;
    display: flex;
    position: relative;
}
.navBar img{
    width: 80px;
}

.navBar ul{
    list-style-type: none;
    padding: 0px;
    top: 0;
    overflow: hidden;
    text-align: right;
    font-size: 25px;
    display: flex;
    margin: auto;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.navBar a{
    text-align: right;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    
}

.navBar a:hover{
    background: #74746a;
}

.navBar li{
    display: inline;
}



.footer {
    background: #74746a;
    height: 75px;
    padding: 50px 0 20px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 2;
   
}



.footer ul {
    width: 100%;
    text-align: center;
    align-items: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    line-height: 20px;
}

.footer ul li{
    justify-content: space-around;
}


.footer a{
    color:#fff ;
    letter-spacing: 2px;
    text-decoration: none;
}
.footer h1{
    font-size: 20px;
      
}
.footer h2{
    font-size: 20px;
}   
.footer a :visited{
    color: #070606;
}

.footer a:hover{
    color: #769580;
    border-radius:3px ;

}
.copyright{
    color: #070606;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px auto 5px auto;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
}

.footer a:active{
    color: #070606;
}

h1{
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.content-item{
    flex-basis:  calc(50% - 40px);
    margin: 20px;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
    box-sizing: border-box;
}

.image img {
    width: 100%; /* Ensure image fills its container */
    max-width: 100%; /* Ensure image does not exceed its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
}

.description {
    text-align: justify;
    line-height: 1.5;
   
}

.description .details{
    font-size: 18px;
}

.description .name{
    font-size: 24px;
}

.editorpage{
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 10px;
}


