@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.navBar{
    top: 0;
    background-color:#2B7141;
    padding-top: 0;
    margin: 0;
    align-items: center;
    padding: 0;
    width: 100%;
    display: flex;
    position: relative;
}
.navBar img{
    width: 80px;
}

.navBar ul{
    list-style-type: none;
    padding: 0px;
    top: 0;
    overflow: hidden;
    text-align: right;
    font-size: 25px;
    display: flex;
    margin: auto;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.navBar a{
    text-align: right;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    
}

.navBar a:hover{
    background: #74746a;
}

.navBar li{
    display: inline;
}



.footer {
    background: #74746a;
    height: 75px;
    padding: 50px 0 20px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 2;
   
}



.footer ul {
    width: 100%;
    text-align: center;
    align-items: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    line-height: 20px;
}

.footer ul li{
    justify-content: space-around;
}


.footer a{
    color:#fff ;
    letter-spacing: 2px;
    text-decoration: none;
}
.footer h1{
    font-size: 20px;
      
}
.footer h2{
    font-size: 20px;
}   
.footer a :visited{
    color: #070606;
}

.footer a:hover{
    color: #769580;
    border-radius:3px ;

}
.copyright{
    color: #070606;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px auto 5px auto;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
}

.footer a:active{
    color: #070606;
}

body{
    font-family: 'Times New Roman';
    background-color: #bcaa68 ;
    color: #eeeeee;
    margin:0;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: #eeeeee;

}

.carousel{
    width: (100vw - 40px);
    height: calc(100vh);
    overflow: hidden;
    margin-bottom: 100px;
    position: relative;
    margin: 0 auto;
}      

.carousel .list .item{
    position: relative;
    margin-bottom: 20px;
}

.carousel .list .item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.carousel .list .item .content .des {
    font-size: 18px; 
    color: #fff;
}

.carousel .list .item .content{
    position: absolute;
    top: 50%; /* Adjusted to vertically center the content */
    left: 50%; /* Adjusted to horizontally center the content */
    transform: translate(-50%, -50%); /* Centering trick */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    z-index: 1;
    color: #fff;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; 
}

.carousel .list .item:hover .content {
    opacity: 1; /* Show content on hover */
}

.carousel .list .item .content .title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.image {
    width: auto; /* Set width to auto to maintain aspect ratio */
    height: 100%; /* Set height to 100% */
    object-fit: cover; 
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.description {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1;
    transition: opacity 0.3s; /* Transition for opacity change */
}

.carousel .arrows {
    position: absolute;
    bottom: 10px;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.carousel .arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.carousel .arrows button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

